<!-- nav -->
<nav class="navbar navbar-expand navbar-dark bg-dark" *ngIf="currentUser">
  <div class="navbar-nav mr-auto">
    <a class="nav-item nav-link" routerLink="/">Home</a>
    <a class="nav-item nav-link" routerLink="/admin" *ngIf="isAdmin">Admin</a>
    <!-- <a class="nav-item nav-link" routerLink="/sidebar">Menu</a> -->
    <a class="nav-item nav-link" (click)="logout()">Logout</a>
  </div>
</nav>

<!-- main app container -->

<div class="container-fluid">
  <div class="row">
    <div class="col-sm-12 ">
      <alert></alert>
      <router-outlet></router-outlet>
      <router-outlet name="sidebar"></router-outlet>
    </div>
  </div>
</div>
